/* Component styles */

/* === WELCOME === */
.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5rem 0;
}

.welcome-container .welcome-user-container{
    display: flex;
    flex-direction: column;
    background-color: #0062ff;
    color: #f8f8f8;
    padding: 24px;
    border-radius: 20px;
    width: 375px;
}

.welcome-container .welcome-user-container h2{
    font-size: 20px;
    margin-bottom: 1rem;
}

.welcome-container .welcome-user-container label p{
    margin-bottom: 0.4rem;
}

.welcome-container .welcome-user-container label input{
    padding: 14px 14px;
    outline: none;
    border: none;
    background-color: hsl(217, 100%, 10%);
    color: #f8f8f8;
    margin-bottom: 1.25rem;
    width: 100%;
    border-radius: 6px;
}

.welcome-container .welcome-user-container label input::placeholder{
    color: #a5a5a5;
}

.welcome-container .welcome-user-container .submit-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    outline: none;
    border: none;
    background-color: hsl(217, 100%, 90%);
    border-radius: 8px;
    cursor: pointer;
    transition: all 150ms 0s ease;
}

.welcome-container .welcome-user-container .submit-btn button:hover{
    background-color: hsl(217, 100%, 80%);
    transition: all 150ms 0s ease;
}

.welcome-container .welcome-user-container .submit-btn button:active{
    background-color: hsl(217, 100%, 100%);
    transition: all 150ms 0s ease;
}

/* === QUIZ === */
.quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 3rem 0;
}

.quiz .quiz-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgba(0, 98, 255, 0.2);
    background-color: #f8f8f8;
}

.quiz .quiz-container .heading{
    margin-bottom: 1.5rem;
}

.quiz .quiz-container .heading::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 452px;
    background-color: #252525;
    margin-top: .5rem;
}

.quiz .quiz-container .heading h2{
    font-size: 30px;
    color: #252525;
}

.quiz .quiz-container .qa-container .q-container {
    margin-bottom: 1rem;
}

.quiz .quiz-container .qa-container .q-container p{
    font-size: 24px;
    color: #252525;
    font-weight: 600;
    margin-top: 3rem;
}

.quiz .quiz-container .qa-container .q-container:first-child p{
    margin-top: 0;
}

.quiz .quiz-container .qa-container .a-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    width: 100%;
}

.quiz .quiz-container .qa-container .a-container li{
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    padding: 0 16px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 75%);
    color: #252525;
    border-radius: 8px;
    cursor: pointer;
    transition: all 150ms 0s ease;
}

.quiz .quiz-container .qa-container .a-container li:hover{
    background-color: black;
    color: #f8f8f8;
    transition: all 150ms 0s ease;
}

.quiz .quiz-container .qa-container .a-container li.selected{
    background-color: black;
    color: #f8f8f8;
}

.quiz .quiz-container .submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 16px 0;
    outline: none;
    border: none;
    background-color: #4285f4;
    color: #f8f8f8;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 150ms 0s ease;
}

.quiz .quiz-container .submit-btn:hover{
    background-color: hsl(217, 89%, 51%);
    transition: all 150ms 0s ease;
}

.quiz .quiz-container .submit-btn:active{
    background-color: hsl(217, 89%, 71%);
    transition: all 150ms 0s ease;
}

/* === RESULTS === */
.results-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid;
}

.results-container .results{
    border: 1px solid #252525;
    height: fit-content;
    width: 500px;
    padding: 24px;
    border-radius: 20px;
}

.results-container .results .results-heading{
    margin-bottom: 1.75rem;
}

.results-container .results .results-heading h3 {
    display: flex;
    align-items: center;
}

.results-container .results .results-heading h3 .circle-check{
    color: hsl(151, 83%, 30%);
    background-color: hsl(151, 83%, 64%);
    border-radius: 50px;
    margin-left: 0.5rem;
}

.results-container .results .results-heading::after{
    content: '';
    position: absolute;
    width: calc(500px - 48px);
    height: 1px;
    background-color: #252525;
    transform: translateY(0.75rem);
}

.results-container .results .results-information h4 span{
    font-weight: 500;
    padding-left: 0.4rem;
}

.results-container .results .results-email{
    margin-top: 1rem;
}

/* === TIMER === */


/* === APP === */